* {
    box-sizing: border-box;
}
:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-6 {
    --line-clamp: 6;
}
.break-all {
    word-break: keep-all;
    /* word-break: break-all; */
}
/* Common */
a {
    text-decoration: none;
    color: inherit;
    line-height: normal;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.row {
    display: flex;
}
.row .column {
    width: 21.6%;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background-color: #171100;
    border-radius: 999px;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.dots {
    display: flex;
    gap: 6px;
}
.dots .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}
.dots .dot.active {
    cursor: default;
    background: var(--primary-color);
}
/* Heder */
.header {
    background-color: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .sign-up-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}
.header .action {
    margin-left: 49px;
}
/* Hero */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}
/* Hero Left */
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color, #fff9e8);
}
.hero-summary .info {
    margin-left: 16px;
}
.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    /* Or using vertical-align: bottom; */
}
.hero .content-block {
    width: 52%;
}
/* Hero Right */
.hero .content-block {
    padding: 64px 0 0 130px;
}
.content-block .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 22px;
}
.content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}
.hero-cta {
    border-radius: 32px;
    min-width: 180px;
    line-height: 64px;
}
.hero-cta:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
}
.hero .watch-video:hover {
    cursor: pointer;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 14px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}
.btn-watching:hover {
    text-decoration: underline 4px var(--primary-color);
}
.hero .stats {
    margin: 8px 0 0 -28px;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}
/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    line-height: 1.67;
    font-size: 1.8rem;
    color: #5f5b53;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}
.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.popular .court-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.course-item {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    margin: -1px;
}
.course-item .info {
    padding: 16px 22px 22px;
}
.course-item .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    padding-right: 6px;
}
.popular .rating .value {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
    margin-left: 6px;
}
.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-item .info .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    margin-top: 6px;
}
.course-item .foot {
    margin-top: 12px;
}
.course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.course-item .buy-btn {
    border: none;
}
.course-item .buy-btn:hover {
    color: #fff;
    background: #ffb900;
}
/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #2e2100;
}
.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}
.feedback .avatar {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .info .title {
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin-top: 18px;
}
.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #bfbcb3;
}
.feedback-item .dots {
    margin-top: 28px;
}
.feedback-item .content {
    width: 66%;
    margin-left: auto;
}
.feedback-item .content blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}
.features .body {
    display: flex;
    justify-content: space-between;
}
.features .images {
    display: flex;
    gap: 0 30px;
}
.features .images .image {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}
.features img.lower {
    margin-top: 34px;
}
.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.features .content .desc {
    margin-top: 16px;
}
.features .content .cta-btn {
    min-width: 137px;
    border-radius: 12px;
    margin-top: 32px;
}
.features .content .cta-btn:hover {
    color: #fff;
    background: var(--primary-color);
}
/* Features 02 */
.features-2nd {
    margin-top: 70px;
}
.features-2nd .body {
    flex-direction: row-reverse;
}
.features-2nd .content {
    width: 49%;
}
.features-2nd .images .image {
    width: 470px;
    height: 440px;
}
/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #fffcf4;
}
.blog-list {
    display: flex;
    gap: 30px;
    overflow: hidden;
    margin-top: 55px;
}
.blog-list .item {
    /* flex: 1; */
    /* flex-shrink: 0; */
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    border-radius: 16px;
}
.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(26, 5, 5, 0.05);
}
.blog-list .item .thumb {
    height: 250px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}
.blog .blog-top .heading {
    text-align: center;
}
.blog .blog-top .desc {
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    margin: 16px auto 55px;
    text-align: center;
}
.blog .blog-list .info {
    padding: 20px 20px 28px;
}
.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86px;
    color: #5f5b53;
    padding-bottom: 12px;
}
.blog .blog-list .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 4px;
}
.blog .blog-list .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    content: "";
    display: inline-block;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}
.blog .info .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.blog .info .btn {
    font-size: 1.4rem;
}
.blog .info .btn:hover {
    background-color: var(--primary-color);
}
.blog .dots {
    justify-content: center;
    margin-top: 38px;
}
/* Footer */
.footer {
    background-color: #2e2100;
    padding: 96px 135px 28px;
}
.footer .row {
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}
.footer .row .column:first-child {
    width: 35%;
}
.footer .logo {
    width: 85px;
    height: 34px;
}
.footer .title {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75rem;
    color: #fff;
    padding-bottom: 14px;
    padding-right: 48px;
    border-bottom: 1px solid #59554b;
}
.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}
.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}
.footer .list {
    margin-top: 28px;
}
.footer .list a {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
    margin-top: 12px;
}
.footer .list:last-child a {
    margin-bottom: none;
}
.footer .list strong {
    font-weight: 600;
    color: #fff;
}
.footer .copyright {
    padding: 28px 0;
}
.footer .copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #807d74;
    text-align: center;
}
